<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header") %>
<body>
    

    
    <div class="container text-center">
        <h1 style="font-size: 6rem;margin-top: 200px;">
            <%= message %>
        </h1>
    </div>
    <div class="container text-center">
        <h1 style="font-size: 2.5rem;margin-top: 100px;">
            <a href="/">Go back to Home Page</a>
        </h1>
    </div>



    <%- include("./partials/footer") %>

</body>
</html>