<html>
<%- include ("./partials/header.ejs") %>

  <body>
    <%- include ("./partials/sidebar.ejs") %>
      <%- include('./partials/alerts') %>
        <h3 class="welcome">
          Welcome to the library. <br>
          Use the navigation to go to different sections.</h3>
  </body>

</html>