<html>
  <%- include ("./partials/header.ejs") %>

  <body>
    <%- include ("./partials/sidebar.ejs") %>
    <div class="container text-center">
      <h1 style="font-size: 5rem;margin-top: 200px;">
        Welcome to the library. This is your homepage.
      </h1>
    </div>
      
  <%- include("./partials/footer") %>
  </body>
</html>
