<html>
    <%- include ("./partials/header.ejs") %>
    <body>
       <div class="loginForm">
        <h1>Register</h1>
        <h6>Already Have an account <span style="color: blue;">?</span> <a href="/login">Login</a></h6>
        <form method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="Enter the Username">
            <label for="">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter the Password" >
            <button type="submit">Submit</button>
        </form>
       </div> 

    </body>
</html>