<html>
  <%- include ("./partials/header.ejs") %>

  <body style="background-color: #4040c0; background-image: url('https://media.istockphoto.com/photos/wooden-brown-books-shelves-with-a-lamp-picture-id1085770318?k=20&m=1085770318&s=612x612&w=0&h=1MmiueCOCEEjQOGDLuUHAonGuFZQFz2BOicOs0cK1cY=')">
    <%- include ("./partials/sidebar.ejs") %>
    <div class="row justify-content-center" style="margin-top:100px;">
        <div class="col-6 card">
            <form action="/register" method="POST">
                <div>
                    <h3>Register Form</h3>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Username</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Username" name="username">
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="password2">
                  </div>
                <!-- <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        <%- include ("./partials/messages") %>
    </div>
    
    </body>
</html>